<?xml version="1.0" encoding="UTF-8" ?>
<!--   vendor\bin\phpunit   -->
<!--   ./vendor/bin/phpunit   -->
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>